#root {
    max-width: 1680px;
    margin: 0 ;
    padding: 0.5rem;
    
  }
  
  .Spp1 {
    overflow:hidden;
    text-align: right;
    
    
  }

  
  
  .Spp1 h1 {
    /* float: center; */
    color: #339972;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 70px;
  }
  
  .Spp1 .reviewBox {
    text-align: center;
    border-radius:25px;
    margin-left: 25%;
    height: 550px;
    width: 50%;
    background-color: rgb(74, 126, 128);;
}

.Spp1 .reviewBox img{

    /* float: center; */
    /* margin-left: 50%; */
    border-radius:250px;
    height:150px;
    width:150px;
}

.Spp1 .reviewBox ol{
    /* float: center; */
    /* margin-left: 50%; */
    color:white;
    font-size:18px;
}

.Spp1 .reviewBox h2{
    /* float: center; */
    /* margin-left: 50%; */
    color:#0b5215;
    
    font-size:25px;
}

.Spp1 .reviewBox p{
    /* float: center; */
    /* margin-left: 50%; */
    color:#0b5215;
    font-size:12px;
}
  .features a:hover {
    background-color: #ddd;
    color: black;
  }
  .features a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  