.topnav{
    font-family:Inter, Avenir;
    margin:0;
    padding:0.5rem;
    text-align:left;
    background-color: rgb(74, 126, 128);
    overflow:hidden;
    height:50px;
    

}

.leftnav{
    float:right;
    
}

.topnav button{
    background-color: rgb(74, 126, 128);
}